@import url(./reset.css);

html{color: #fff;}
body{background: #000;}

body.overflow{overflow:hidden;}
body{overflow-x: hidden; position: relative;
    &::before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../pattern-noise.webp); opacity: 0.5; z-index: 0; pointer-events: none;}
}

section{width: 100%; height: 100vh; padding: 100px;}
.container{max-width: 1920px; height: 100%; padding: 1.5em 4em; margin: 0 auto;}


.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: flex;
}
.bar{
    width: 10vw;
    height: 105vh;
    background: #1a1a1a;
}
.counter{
    position: fixed;
    bottom: 50%;
    right: 50%;
    z-index: 100;
    color: #bcbcc4;
}
// loader


.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: fixed;
    .logo{
        position: fixed;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1em;
        font-size: 1.5vw;
    }
}
.menu-open {
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	padding: 2rem;
	cursor: pointer;
	font-size: 20px;
	color: #fff;
    &.hide{
        z-index: 0;
        opacity:0;
    }
}

// header
.menu-container{
    .hr{
        position: fixed;
        left: 50%;
        width: 6px;
        height: 100vh;
        background-color: #fff;
        z-index: 3;
        transform: scaleY(0);
    }
    .menu-close{
        z-index: 4;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        opacity: 1;
        img{
            width: 140px;
            height: 150px;
            border-radius: 100%;
            border: 10px solid #000;
        }
    }
    .menu{
        &.hide{
            height:0;
        }
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        z-index: 2;

        &-left , &-right{
            position: fixed;
            width: 50%;
            height: 100vh;
            background: #141414;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
        }
        .menu-left{
            left: -50%;
        }
        .menu-right{
            right: -50%;
        }
        .menu-link{
            a{font-size: 5rem;}
            span{font-size: 24px;}
        }
        .contact{
            .title{
                font-size: 80px;
            }
            .info{
                font-weight: lighter;
            }
        }
    }    
}


#banner{position: relative;
    .container{display: flex; justify-content: center; align-items: center;
        .hero{width: 800px; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); z-index: -1;
            img{width: 100%;}
        }
        .hero_text{line-height: 0.8; 
            h2{font-size: 15rem; -webkit-text-stroke: 1px #fff;  letter-spacing: 50px; color: #fff;
                &:first-child{}
                &:last-child{margin-left: 550px;}
            }
            h3{font-size: 12rem; text-align: center;}
        }
    }
}

#content1{position: relative;
    &::before{content: ''; position: absolute; top: -200px; left: 0; width: 100%; height: 600px; background: linear-gradient(0deg, rgba(0,0,0,1)0%, rgba(0,0,0,1)80%, rgba(0,0,0,0)100%); z-index: -1;}
}


@media (max-width: 900px) {
    .menu-container{
        .menu{
            .menu-right{
                display: none;
            }
            .menu-left{
                width: 100%; 
                left: -100%;
            }
        }
    }
    .menu-close{
        position: fixed;
        top: 10%;
        left: 80%;
        transform: translate(-50%, -50%);
        margin: 40px;
        img{
            width: 40%;
            height: 40%;
        }
    }
    .hr{
        display: none;
    }
    
 
}

// overlay menu
